

.border-t-0 {
	border-top-width: 0
}

.border-r-0 {
	border-right-width: 0
}

.border-b-0 {
	border-bottom-width: 0
}

.border-l-0 {
	border-left-width: 0
}

.border-t-2 {
	border-top-width: 2px
}

.border-r-2 {
	border-right-width: 2px
}

.border-b-2 {
	border-bottom-width: 2px
}

.border-l-2 {
	border-left-width: 2px
}

.border-t-4 {
	border-top-width: 4px
}

.border-r-4 {
	border-right-width: 4px
}

.border-b-4 {
	border-bottom-width: 4px
}

.border-l-4 {
	border-left-width: 4px
}

.border-t-8 {
	border-top-width: 8px
}

.border-r-8 {
	border-right-width: 8px
}

.border-b-8 {
	border-bottom-width: 8px
}

.border-l-8 {
	border-left-width: 8px
}

.border-t {
	border-top-width: 1px
}

.border-r {
	border-right-width: 1px
}

.border-b {
	border-bottom-width: 1px
}

.border-l {
	border-left-width: 1px
}

.cursor-auto {
	cursor: auto
}

.cursor-default {
	cursor: default
}

.cursor-pointer {
	cursor: pointer
}

.cursor-wait {
	cursor: wait
}

.cursor-move {
	cursor: move
}

.cursor-not-allowed {
	cursor: not-allowed
}

.block {
	display: block
}

.inline-block {
	display: inline-block
}

.inline {
	display: inline
}

.table {
	display: table
}

.table-row {
	display: table-row
}

.table-cell {
	display: table-cell
}

.hidden {
	display: none
}

.flex {
	display: flex
}

.inline-flex {
	display: inline-flex
}

.flex-row {
	flex-direction: row
}

.flex-row-reverse {
	flex-direction: row-reverse
}

.flex-col {
	flex-direction: column
}

.flex-col-reverse {
	flex-direction: column-reverse
}

.flex-wrap {
	flex-wrap: wrap
}

.flex-wrap-reverse {
	flex-wrap: wrap-reverse
}

.flex-no-wrap {
	flex-wrap: nowrap
}

.items-start {
	align-items: flex-start
}

.items-end {
	align-items: flex-end
}

.items-center {
	align-items: center
}

.items-baseline {
	align-items: baseline
}

.items-stretch {
	align-items: stretch
}

.self-auto {
	align-self: auto
}

.self-start {
	align-self: flex-start
}

.self-end {
	align-self: flex-end
}

.self-center {
	align-self: center
}

.self-stretch {
	align-self: stretch
}

.justify-start {
	justify-content: flex-start
}

.justify-end {
	justify-content: flex-end
}

.justify-center {
	justify-content: center
}

.justify-between {
	justify-content: space-between
}

.justify-around {
	justify-content: space-around
}

.content-center {
	align-content: center
}

.content-start {
	align-content: flex-start
}

.content-end {
	align-content: flex-end
}

.content-between {
	align-content: space-between
}

.content-around {
	align-content: space-around
}

.flex-1 {
	flex: 1 1 0%
}

.flex-auto {
	flex: 1 1 auto
}

.flex-initial {
	flex: 0 1 auto
}

.flex-none {
	flex: none
}

.flex-grow {
	flex-grow: 1
}

.flex-shrink {
	flex-shrink: 1
}

.flex-no-grow {
	flex-grow: 0
}

.flex-no-shrink {
	flex-shrink: 0
}

.float-right {
	float: right
}

.float-left {
	float: left
}

.float-none {
	float: none
}

.clearfix:after {
	content: "";
	display: table;
	clear: both
}

.font-system {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif
}

.font-hairline {
	font-weight: 100
}

.font-thin {
	font-weight: 200
}

.font-light {
	font-weight: 300
}

.font-normal {
	font-weight: 400
}

.font-medium {
	font-weight: 500
}

.font-semibold {
	font-weight: 500
}

.font-bold {
	font-weight: 700
}

.font-extrabold {
	font-weight: 800
}

.font-black {
	font-weight: 900
}

.hover\:font-hairline:hover {
	font-weight: 100
}

.hover\:font-thin:hover {
	font-weight: 200
}

.hover\:font-light:hover {
	font-weight: 300
}

.hover\:font-normal:hover {
	font-weight: 400
}

.hover\:font-medium:hover {
	font-weight: 500
}

.hover\:font-semibold:hover {
	font-weight: 600
}

.hover\:font-bold:hover {
	font-weight: 700
}

.hover\:font-extrabold:hover {
	font-weight: 800
}

.hover\:font-black:hover {
	font-weight: 900
}

.h-1 {
	height: .25rem
}

.h-2 {
	height: .5rem
}

.h-3 {
	height: .75rem
}

.h-4 {
	height: 1rem
}

.h-6 {
	height: 1.5rem
}

.h-8 {
	height: 2rem
}

.h-10 {
	height: 2.5rem
}

.h-11 {
	height: 2.75rem
}

.h-12 {
	height: 3rem
}

.h-16 {
	height: 4rem
}

.h-24 {
	height: 6rem
}


.text-xs {
	font-size: .75rem
}

.text-sm {
	font-size: .875rem
}

.text-base {
	font-size: 1rem
}

.text-lg {
	font-size: 1.125rem
}

.text-xl {
	font-size: 1.25rem
}

.text-2xl {
	font-size: 1.37rem;
    line-height: 1.4;
}

.text-3xl {
	font-size: 1.875rem
}

.text-4xl {
	font-size: 2.25rem
}

.text-5xl {
	font-size: 3rem
}

.text-80p {
	font-size: 80%
}

.italic {
	font-style: italic
}

.roman {
	font-style: normal
}

.uppercase {
	text-transform: uppercase
}

.lowercase {
	text-transform: lowercase
}

.capitalize {
	text-transform: capitalize
}

.normal-case {
	text-transform: none
}

.underline {
	text-decoration: underline
}

.line-through {
	text-decoration: line-through
}

.no-underline {
	text-decoration: none
}

.antialiased {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.subpixel-antialiased {
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: auto
}

.hover\:italic:hover {
	font-style: italic
}

.hover\:roman:hover {
	font-style: normal
}

.hover\:uppercase:hover {
	text-transform: uppercase
}

.hover\:lowercase:hover {
	text-transform: lowercase
}

.hover\:capitalize:hover {
	text-transform: capitalize
}

.hover\:normal-case:hover {
	text-transform: none
}

.hover\:underline:hover {
	text-decoration: underline
}

.hover\:line-through:hover {
	text-decoration: line-through
}

.hover\:no-underline:hover {
	text-decoration: none
}

.hover\:antialiased:hover {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.hover\:subpixel-antialiased:hover {
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: auto
}

.tracking-tight {
	letter-spacing: -.05em
}

.tracking-normal {
	letter-spacing: 0
}

.tracking-wide {
	letter-spacing: .05em
}

.select-none {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.select-text {
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text
}

.align-baseline {
	vertical-align: baseline
}

.align-top {
	vertical-align: top
}

.align-middle {
	vertical-align: middle
}

.align-bottom {
	vertical-align: bottom
}

.align-text-top {
	vertical-align: text-top
}

.align-text-bottom {
	vertical-align: text-bottom
}

.visible {
	visibility: visible
}

.invisible {
	visibility: hidden
}

.whitespace-normal {
	white-space: normal
}

.whitespace-no-wrap {
	white-space: nowrap
}

.whitespace-pre {
	white-space: pre
}

.whitespace-pre-line {
	white-space: pre-line
}

.whitespace-pre-wrap {
	white-space: pre-wrap
}

.break-words {
	word-wrap: break-word
}

.break-normal {
	word-wrap: normal
}

.truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.w-1 {
	width: .25rem
}

.w-2 {
	width: .5rem
}

.w-3 {
	width: .75rem
}

.w-4 {
	width: 1rem
}

.w-6 {
	width: 1.5rem
}

.w-8 {
	width: 2rem
}

.w-10 {
	width: 2.5rem
}

.w-12 {
	width: 3rem
}

.w-16 {
	width: 4rem
}

.w-24 {
	width: 6rem
}

.w-32 {
	width: 8rem
}

.w-48 {
	width: 12rem
}

.w-64 {
	width: 16rem
}

.w-auto {
	width: auto
}

.w-px {
	width: 1px
}

.w-1\/2 {
	width: 50%
}

.w-1\/3 {
	width: 33.33333%
}

.w-2\/3 {
	width: 66.66667%
}

.w-1\/4 {
	width: 25%
}

.w-3\/4 {
	width: 75%
}

.w-1\/5 {
	width: 20%
}

.w-2\/5 {
	width: 40%
}

.w-3\/5 {
	width: 60%
}

.w-4\/5 {
	width: 80%
}

.w-1\/6 {
	width: 16.66667%
}

.w-5\/6 {
	width: 83.33333%
}

.w-full {
	width: 100%
}

.w-screen {
	width: 100vw
}

.w-1\/12 {
	width: 8.33%
}

.w-5\/12 {
	width: 41.66667%
}

.w-7\/12 {
	width: 58.33%
}

.z-0 {
	z-index: 0
}

.z-10 {
	z-index: 10
}

.z-20 {
	z-index: 20
}

.z-30 {
	z-index: 30
}

.z-40 {
	z-index: 40
}

.z-50 {
	z-index: 50
}

.z-60 {
	z-index: 60
}

.z-auto {
	z-index: auto
}

.jslghtbx-ie8.jslghtbx {
	background-image: url(../img/trans-bck.png);
	display: none
}

.jslghtbx-ie8.jslghtbx.jslghtbx-active {
	display: block
}

.jslghtbx-ie8.jslghtbx .jslghtbx-contentwrapper>img {
	-ms-filter: "alpha(opacity=0)";
	display: block
}

.jslghtbx-ie8.jslghtbx .jslghtbx-contentwrapper.jslghtbx-wrapper-active>img {
	-ms-filter: "alpha(opacity=100)"
}

.jslghtbx {
	font-family: sans-serif;
	overflow: auto;
	visibility: hidden;
	position: fixed;
	z-index: 2;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: transparent
}

.jslghtbx.jslghtbx-active {
	visibility: visible;
	background-color: rgba(0, 0, 0, .85)
}

.jslghtbx-loading-animation {
	margin-top: -60px;
	margin-left: -60px;
	width: 120px;
	height: 120px;
	top: 50%;
	left: 50%;
	display: none;
	position: absolute;
	z-index: -1
}


.button {
	margin-top: 20px;
	display: inline-block;
	background: #e42b16; /* Old browsers */
	background: -moz-linear-gradient(top,  #e42b16 0%, #eb4b33 2%, #ef593e 3%, #ed563b 5%, #eb533b 16%, #e64e37 24%, #e94e38 25%, #e74f3a 27%, #e74a37 32%, #e04435 40%, #e24236 44%, #dd3f33 48%, #e04034 49%, #da3e32 51%, #db3a30 54%, #d3342e 60%, #d6342f 62%, #d2332d 63%, #d2302b 67%, #cd2e2a 68%, #ca2625 75%, #c82926 76%, #c42021 81%, #c12121 83%, #c11d1e 84%, #c01d20 86%, #ba1a1a 89%, #ba1a1c 90%, #b31516 95%, #af1517 97%, #aa1113 98%, #ac1013 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #e42b16 0%,#eb4b33 2%,#ef593e 3%,#ed563b 5%,#eb533b 16%,#e64e37 24%,#e94e38 25%,#e74f3a 27%,#e74a37 32%,#e04435 40%,#e24236 44%,#dd3f33 48%,#e04034 49%,#da3e32 51%,#db3a30 54%,#d3342e 60%,#d6342f 62%,#d2332d 63%,#d2302b 67%,#cd2e2a 68%,#ca2625 75%,#c82926 76%,#c42021 81%,#c12121 83%,#c11d1e 84%,#c01d20 86%,#ba1a1a 89%,#ba1a1c 90%,#b31516 95%,#af1517 97%,#aa1113 98%,#ac1013 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #e42b16 0%,#eb4b33 2%,#ef593e 3%,#ed563b 5%,#eb533b 16%,#e64e37 24%,#e94e38 25%,#e74f3a 27%,#e74a37 32%,#e04435 40%,#e24236 44%,#dd3f33 48%,#e04034 49%,#da3e32 51%,#db3a30 54%,#d3342e 60%,#d6342f 62%,#d2332d 63%,#d2302b 67%,#cd2e2a 68%,#ca2625 75%,#c82926 76%,#c42021 81%,#c12121 83%,#c11d1e 84%,#c01d20 86%,#ba1a1a 89%,#ba1a1c 90%,#b31516 95%,#af1517 97%,#aa1113 98%,#ac1013 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e42b16', endColorstr='#ac1013',GradientType=0 ); /* IE6-9 */
	border: 1px solid #8f0709;
	color: #fff;
	font-size: 16px;
	padding: 15px 50px;
	text-transform: uppercase;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
	line-height: 1;
	height: auto;
    width:60%;
	text-align: center;
	font-weight: 600;
	padding: .75rem;
	text-decoration: none
}

.button:hover {
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(198,198,198,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(198,198,198,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(198,198,198,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c6c6c6',GradientType=0 );
	color: #e42b16;
}

.vue-modal,
.vue-modal__mask {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 40
}

.vue-modal__mask {
	width: 100%;
	height: 100%;
	display: table;
	background-color: rgba(0, 0, 0, .5);
	transition: opacity .3s ease
}

.vue-modal__mask__container {
	padding: 0;
	background-color: #fff;
	margin: 0 auto;
	position: relative;
	overflow: auto;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
	width: 100%;
	max-width: 400px;
	transition: all .3s ease
}

@media(min-width:576px) {
	.vue-modal__mask__container {
		width: auto
	}
}

.vue-modal__body {
	position: relative;
	overflow: auto;
	padding: 0
}

.vue-modal__body--whitespace {
	padding: 2rem 1rem 1.5rem;
}

.vue-modal__close {
	position: absolute;
	right: 0;
	top: 0;
	margin-top: .5rem;
	margin-right: .5rem;
	font-size: 1.5rem;
	cursor: pointer;
	z-index: 40
}

.vue-modal__close:hover {
	opacity: .75
}

.vue-modal-enter,
.vue-modal-leave-active {
	opacity: 0
}

.vue-modal__login-register__tabs {
	background-color: #f1f1f1;
	padding: 2rem 2rem 0;
	overflow: auto;
	width: 100%
}

.vue-modal__login-register__tabs__tab {
	padding: 1rem;
	width: 50%;
	cursor: pointer;
	border: 1px solid #e5e5e5;
	display: inline-block;
	float: left
}

.vue-modal__login-register__tabs__tab--active {
	background-color: #fff;
	border-bottom-color: #fff
}

.vue-modal__login-register__tab-content {
	background-color: #fff;
	padding: 2rem
}

.vue-modal__login-register__tab-content__link {
	text-decoration: underline;
	color: #000
}

.vue-modal__login-register__tab-content__link:hover {
	text-decoration: none
}